body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: 3px solid #7A9CC6;
    opacity: 0.8;
}

#home-section {
    background-image: url(../img/persons3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0; 
    min-height: 780px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 780px;
    background-color: rgba(0,0,0,0.8);
}

#home-section .home-inner {
    padding-top: 165px;
}

#home-section .card {
    background-color: #2b3656;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas {
    color: #7A9CC6;;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#resources-head-section .fas,
#tutor-head-section .fas {
    background-color: #333;
    color: #fff;
    padding: 5px;
}

#tutor-section .fas {
    padding: 5px;
    border-radius: 5px;
}

#tutor-head-section {
    background-color: #1a1c29;
}
